@font-face {
    font-family: 'Inter';
    src: url("../font/inter/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url("../font/inter/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: 'Inter';
    src: url("../font/inter/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
